<!DOCTYPE html>
<html>
<head>
    <style>
        body {
            background: url(gmk.jpg) no-repeat;
            background-size: cover;
        }
    </style>

    <title>Авторизация</title>
</head>
<style type="text/css">
    body {
        text-align: center;
    }

    label {
        float: center;
        padding-right: 10px;
    }

    .field {
        clear: both;
        text-align: center;
        line-height: 25px;
    }

    .main {
        float: center;
    }
</style>
<body>

<div>
    <h1 align="center">Авторизация</h1>
    <p align="center">E-mail: <input type="text" name="mail"></p>
    <p align="center">Пароль: <input type="password" name="password" value="" maxlength="12"></p>
    <p class="login-submit">
        <button type="submit" class="login-button">Вход</button>
</div>
</body>

</html>