<html>
<head lang="ru">
    <head>
        <style>
            body {
                background: url(gmk1.jpg) no-repeat;
                background-size: cover;
                font-size: 11pt;
            }
        </style>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <meta name="description" content="M13#gomoku - Спокойное место для игры в Гомоку.">
        <noscript>
            <style type="text/css">
                input[type="file"] {
                    display: inline-block !important;
                }
            </style>
        </noscript>
        <link rel="shortcut icon" type="image/gif" href="/gomoku/favicon.ico">
        <link rel="icon" href="/gomoku/favicon.png">
        <title>Аккаунт</title></head>
<body>
<div id="cont">
    <div id="innr">
        <h2>Аккаунт "<b class="login">Имя пользователя</b>"</h2><br>
        <div id="hd">
            <script type="text/javascript" src="/gomoku/a/me.js"></script>
            <p class="msg"></p>
            <table class="twh">
                <tr>
                    <td style="width:50%; vertical-align:top;">
                        <table id="nfo">
                            <tr class="atr">
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td class="dvd"><br>&nbsp; Е-мейл: <b class="email">-</b></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td class="dvd">&nbsp; Рейтинг: <b class="reit">-</b></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>&nbsp; <b>-</b></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td class="dvd">&nbsp; Сыграно игр: <b class="total-games">-</b></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td class="dvd">&nbsp; Побед: <b class="win">-</b></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td class="dvd">&nbsp; Поражений: <b class="lose">-</b></td>
                            </tr>
                        </table>
                        <br></td>
                    <td style="width:50%;">
                        <form id="frm1" class="auth par" enctype="multipart/form-data" method="post"
                              action="/gomoku/me/">

                        </form>
                        <br>
                        <form id="change-password" class="auth par" method="post">
                            <table>
                                <tr>
                                    <td>Текущий Пароль:</td>
                                    <td><input type="password" name="p" value="" maxlength="12" id="old-pass"></td>
                                </tr>
                                <tr>
                                    <td>Новый Пароль:</td>
                                    <td><input type="password" name="np" value="" maxlength="12" id="new-pass"></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td><input type="submit" value="Поменять пароль"></td>
                                </tr>
                            </table>
                        </form>
                        <br></td>
                </tr>
            </table>
        </div>
        <hr>
        <div class="tit bot txc">
            <table class="wrp">
                <tr>
                    <td class="r"><a href="#" class="menuw">Играть</a></td>
                    <td class="r"><a href="/game" class="menuw">Играть с ботом</a></td>
                    <td class=""><a href="#" class="menuw">Друзья</a></td>
                    <td class=""><a class="menua">Аккаунт</a></td>
                    <td class=""><a href="/signin" class="logout">Выйти</a></td>
                </tr>
            </table>
        </div>
    </div>
</div>
<script src="js/jquery-3.3.1.min.js"></script>
<script src="js/main.js"></script>
</body>
</html>
